<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <apikeys>
  </apikeys>
  <packageSources>
    <!--<add key="NuGet official package source" value="https://www.nuget.org" />-->
    <add key="RemoteFeed" value="http://NugetServer/RemoteNugetFeeds/" />
  </packageSources>
  <packageSourceCredentials>
    <RemoteFeed>
      <add key="Username" value="ServerUser" />
      <add key="ClearTextPassword" value="password" />
    </RemoteFeed>
  </packageSourceCredentials>
</configuration>